## **Integreação Python com Excel**

Deferença entre o tratamento de dados com ***pandas*** e com ***openpyxl***

### **PANDAS**
- Interpreta o Excel como base de dados;
- Uma modificação em uma coluna não modifica automaticamente a outra;
- Permite manipulações mais eficientes.

### **OPENPYXL**
- Interpreta o Excel como uma planilha (excelente quando a planilha contém gráficos e outras tabelas);
- Semelhante ao VBA;
- Mantém a estrutura original.

---------------
**Desafio**

Dada uma planilha em excel, modifique a porcentagem de imposto para aqueles que são serviços. A porcentagem passará de 1.3 para 1.5

-----------
### **Pandas**

In [10]:
import pandas as pd 

frame_excel = pd.read_excel(r'data/Produtos.xlsx')
display (frame_excel)

,Produtos,Preço Base Original,Tipo,Multiplicador Imposto,Preço Base Reais
0,Tablet,999.99,Produto,1.1,1099.989
1,Pós Graduação,4500.00,Serviço,1.3,5850.000
2,Celular,899.99,Produto,1.1,989.989
3,Passagem Aérea,799.00,Serviço,1.3,1038.700
4,Computador,3000.00,Produto,1.1,3300.000
5,SPA,480.48,Serviço,1.3,624.624
6,Corte Cabelo,50.00,Serviço,1.3,65.000

In [ ]:
frame_excel.loc[frame_excel['Multiplicador Imposto'] == 1.3, 'Multiplicador Imposto'] = 1.5
frame_excel['Preço Base Reais'] = frame_excel['Preço Base Original'] * frame_excel['Multiplicador Imposto']

In [15]:
display(frame_excel)

,Produtos,Preço Base Original,Tipo,Multiplicador Imposto,Preço Base Reais
0,Tablet,999.99,Produto,1.1,1099.989
1,Pós Graduação,4500.00,Serviço,1.3,5850.000
2,Celular,899.99,Produto,1.1,989.989
3,Passagem Aérea,799.00,Serviço,1.3,1038.700
4,Computador,3000.00,Produto,1.1,3300.000
5,SPA,480.48,Serviço,1.3,624.624
6,Corte Cabelo,50.00,Serviço,1.3,65.000

In [16]:
frame_excel.to_excel(r'data/ProdutosPandas.xlsx', index=False)

**Método utilizado**

Nessa situação, usamos um método específico do pandas para **modificar elementos específicos de uma coluna**

    database.loc[linhas específicas, coluna] = valor 
    
Por que não usar: 
    database.loc[:][nome_da_coluna] ?
O caso acima captura os elementos de uma coluna

In [14]:
frame_excel.loc[frame_excel['Multiplicador Imposto'] == 1.3]['Multiplicador Imposto']

1    1.3
3    1.3
5    1.3
6    1.3
Name: Multiplicador Imposto, dtype: float64

-------------
### **Openpyxl**

In [27]:
from openpyxl import load_workbook

worksheet_excel = load_workbook(r'data/Produtos.xlsx')
worksheet_excel_active = worksheet_excel.active

In [28]:
for cell in worksheet_excel_active['C']: # cell representa cada elemento excel na coluna 'C' da planilha 
    if cell.value == 'Serviço': #estima o valor que contém na célula específica
        line = cell.row # Número da linha cujos elementos na coluna C == Serviço
        #Lembrando que a posição será D1, D2, ... para captar um elemento na planilha 
        worksheet_excel_active[f'D{line}'] = 1.5
worksheet_excel.save(r'data/ProdutosOpenpyxl.xlsx')

**OBS:** Diferente do pandas, o openpyxl já realiza as alterações nas outras colunas pois ele trabalha com céula