## **Filtragem de dados em um DF**

Para realizar o filtro, é importante escolhermos uma ***coluna de referência***

        NovoDataFrama = DataFrame[<nome_coluna_referencia>] (uma operação específica) valor_de_filtro

In [1]:
import pandas as pd

In [2]:
# Importação dos dados 
sell = pd.read_csv(r'Data/Vendas.csv', sep=';')
products = pd.read_csv(r'Data/Cadastro Produtos.csv', sep=';')
stores = pd.read_csv(r'Data/Lojas.csv', sep=';')
client = pd.read_csv(r'Data/Clientes.csv', sep=';')
promotions = pd.read_csv(r'Data/Promocoes.csv', sep=';')


#Modificação das bases de dados
products = products[['ID Produto', 'Nome do Produto']]
stores = stores[['ID Loja', 'Nome da Loja']]
client = client[['ID Cliente','E-mail']]
promotions = promotions[['ID Promocao', 'Percentual Desconto']]

#Merge das informações
sell = sell.merge(products, on = 'ID Produto')
sell = sell.merge(stores, on = 'ID Loja')
sell = sell.merge(client, on = 'ID Cliente')
sell = sell.merge(promotions, on = 'ID Promocao')


sell = sell.rename(columns={'E-mail': 'E-mail dos clientes'})
display(sell.head())

,Numero da Venda,Data da Venda,Data do Envio,ID Canal,ID Loja,ID Produto,ID Promocao,ID Cliente,Quantidade Vendida,Quantidade Devolvida,Nome do Produto,Nome da Loja,E-mail dos clientes,Percentual Desconto
0,1,01/01/2017,02/01/2017,1,86,981,2,6825,9,1,A. Datum Advanced Digital Camera M300 Pink,Loja Contoso Austin,rbrumfieldmy@ameblo.jp,"0,05"
1,191019,20/03/2017,21/03/2017,1,172,376,2,6825,9,0,Adventure Works Laptop12 M1201 Silver,Loja Contoso Hartford,rbrumfieldmy@ameblo.jp,"0,05"
2,18610,08/01/2017,10/01/2017,2,200,448,2,6825,48,0,WWI Desktop PC1.80 E1801 Black,Loja Contoso Catalog,rbrumfieldmy@ameblo.jp,"0,05"
3,26350,12/01/2017,18/01/2017,6,21,568,2,6825,9,0,Proseware Projector 480p DLP12 Silver,Loja Contoso Wheat Ridge,rbrumfieldmy@ameblo.jp,"0,05"
4,169169,11/03/2017,14/03/2017,3,22,437,2,21344,27,0,Adventure Works Desktop PC1.80 ED182 White,Loja Contoso Westminster,makayla3@adventure-works.com,"0,05"

-----------
## **Desafio**

### Uma empresa deseja saber apenas as informações da loja cujo id = 306

Necessário criar um novo DataFrame com informações filtradas do DataFrame original.

In [3]:
specific_sell = sell[sell['ID Loja']==306]
display(specific_sell.head())

,Numero da Venda,Data da Venda,Data do Envio,ID Canal,ID Loja,ID Produto,ID Promocao,ID Cliente,Quantidade Vendida,Quantidade Devolvida,Nome do Produto,Nome da Loja,E-mail dos clientes,Percentual Desconto
133001,880458,23/11/2017,23/11/2017,0,306,235,10,6825,8,0,Litware Home Theater System 7.1 Channel M710 B...,Loja Contoso Europe Online,rbrumfieldmy@ameblo.jp,"0,2"
133003,786402,21/10/2017,25/10/2017,4,306,226,10,21344,8,0,Litware Home Theater System 2.1 Channel E210 B...,Loja Contoso Europe Online,makayla3@adventure-works.com,"0,2"
133018,24931,11/01/2017,17/01/2017,6,306,1467,10,26471,24,0,Contoso Sharp Touch Screen Phones M910 Black,Loja Contoso Europe Online,jessica44@adventure-works.com,"0,2"
133019,818047,31/10/2017,31/10/2017,0,306,1008,10,26471,8,0,A. Datum Consumer Digital Camera M300 Orange,Loja Contoso Europe Online,jessica44@adventure-works.com,"0,2"
133023,970008,27/12/2017,28/12/2017,1,306,1367,10,15909,24,0,Contoso Expandable 3-Handset Cordless Phone Sy...,Loja Contoso Europe Online,smoritpb@sun.com,"0,2"

------------
## **Manipulando as datas em uma tabela**

Inicialmente, as datas vem em formato de object. Para mudar para datetime, podemos usar:

        DataFrame['Coluna de datas'] = pd.to_datetime(DataFrame['Coluna de datas'], format = <como as datas estão organizadas na coluna>)
        
**pd.to_datetime()**

In [4]:
sell.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 980642 entries, 0 to 980641
Data columns (total 14 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Numero da Venda       980642 non-null  int64
 1   Data da Venda         980642 non-null  object
 2   Data do Envio         980642 non-null  object
 3   ID Canal              980642 non-null  int64
 4   ID Loja               980642 non-null  int64
 5   ID Produto            980642 non-null  int64
 6   ID Promocao           980642 non-null  int64
 7   ID Cliente            980642 non-null  int64
 8   Quantidade Vendida    980642 non-null  int64
 9   Quantidade Devolvida  980642 non-null  int64
 10  Nome do Produto       980642 non-null  object
 11  Nome da Loja          980642 non-null  object
 12  E-mail dos clientes   980642 non-null  object
 13  Percentual Desconto   980642 non-null  object
dtypes: int64(8), object(6)
memory usage: 112.2+ MB

In [5]:
sell['Data da Venda'] = pd.to_datetime(sell['Data da Venda'], format = '%d/%m/%Y')
sell['Data do Envio'] = pd.to_datetime(sell['Data do Envio'], format = '%d/%m/%Y')
sell.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 980642 entries, 0 to 980641
Data columns (total 14 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Numero da Venda       980642 non-null  int64
 1   Data da Venda         980642 non-null  datetime64[ns]
 2   Data do Envio         980642 non-null  datetime64[ns]
 3   ID Canal              980642 non-null  int64
 4   ID Loja               980642 non-null  int64
 5   ID Produto            980642 non-null  int64
 6   ID Promocao           980642 non-null  int64
 7   ID Cliente            980642 non-null  int64
 8   Quantidade Vendida    980642 non-null  int64
 9   Quantidade Devolvida  980642 non-null  int64
 10  Nome do Produto       980642 non-null  object
 11  Nome da Loja          980642 non-null  object
 12  E-mail dos clientes   980642 non-null  object
 13  Percentual Desconto   980642 non-null  object
dtypes: datetime64[ns](2), int64(8), object(4)
memory usage: 112.2+ MB

-----------
### Adicionando uma coluna do DF e utilizando o recurso .dt.xxx**

Para adicionar uma nova coluna no DataFrame:

    DataFrame ['nome da nova coluna'] = atributos
    
**Curiosidade:** Quando o tipo da coluna for _datetime_, nós podemos utilizar o recurso .dt.xxx para capturar um elemento de data (dia, mês, ano,...) em específico

In [6]:
sell['Ano de vendas'] = sell['Data da Venda'].dt.year
sell.head()

,Numero da Venda,Data da Venda,Data do Envio,ID Canal,ID Loja,ID Produto,ID Promocao,ID Cliente,Quantidade Vendida,Quantidade Devolvida,Nome do Produto,Nome da Loja,E-mail dos clientes,Percentual Desconto,Ano de vendas
0,1,2017-01-01,2017-01-02,1,86,981,2,6825,9,1,A. Datum Advanced Digital Camera M300 Pink,Loja Contoso Austin,rbrumfieldmy@ameblo.jp,"0,05",2017
1,191019,2017-03-20,2017-03-21,1,172,376,2,6825,9,0,Adventure Works Laptop12 M1201 Silver,Loja Contoso Hartford,rbrumfieldmy@ameblo.jp,"0,05",2017
2,18610,2017-01-08,2017-01-10,2,200,448,2,6825,48,0,WWI Desktop PC1.80 E1801 Black,Loja Contoso Catalog,rbrumfieldmy@ameblo.jp,"0,05",2017
3,26350,2017-01-12,2017-01-18,6,21,568,2,6825,9,0,Proseware Projector 480p DLP12 Silver,Loja Contoso Wheat Ridge,rbrumfieldmy@ameblo.jp,"0,05",2017
4,169169,2017-03-11,2017-03-14,3,22,437,2,21344,27,0,Adventure Works Desktop PC1.80 ED182 White,Loja Contoso Westminster,makayla3@adventure-works.com,"0,05",2017

**Observação:** 

Embora tenhamos passado como parâmetro _format = '%d/%m%Y'_ as datas na tabela não estarão no formato original.
No momento que convertemos para datetime, o formato fica %Y-%m-%d. 

Para reverter:

    DataFrame['nome_coluna_datas'] = DataFrame['nome_coluna_datas'].dt.strftime('%d/%m%Y')

In [7]:
sell['Data da Venda'] = sell['Data da Venda'].dt.strftime('%d/%m/%Y')
sell.head()

,Numero da Venda,Data da Venda,Data do Envio,ID Canal,ID Loja,ID Produto,ID Promocao,ID Cliente,Quantidade Vendida,Quantidade Devolvida,Nome do Produto,Nome da Loja,E-mail dos clientes,Percentual Desconto,Ano de vendas
0,1,01/01/2017,2017-01-02,1,86,981,2,6825,9,1,A. Datum Advanced Digital Camera M300 Pink,Loja Contoso Austin,rbrumfieldmy@ameblo.jp,"0,05",2017
1,191019,20/03/2017,2017-03-21,1,172,376,2,6825,9,0,Adventure Works Laptop12 M1201 Silver,Loja Contoso Hartford,rbrumfieldmy@ameblo.jp,"0,05",2017
2,18610,08/01/2017,2017-01-10,2,200,448,2,6825,48,0,WWI Desktop PC1.80 E1801 Black,Loja Contoso Catalog,rbrumfieldmy@ameblo.jp,"0,05",2017
3,26350,12/01/2017,2017-01-18,6,21,568,2,6825,9,0,Proseware Projector 480p DLP12 Silver,Loja Contoso Wheat Ridge,rbrumfieldmy@ameblo.jp,"0,05",2017
4,169169,11/03/2017,2017-03-14,3,22,437,2,21344,27,0,Adventure Works Desktop PC1.80 ED182 White,Loja Contoso Westminster,makayla3@adventure-works.com,"0,05",2017

## **Diferença do .loc[] e do .iloc[]**

**.loc[]** -- Associado aos nomes dos índices. 

- Para entendê-lo é importante saber distinguir índice x posição em um DataFrame. Pois, um índice pode ser uma coluna de referência. 

- Como default, os índices coincidem com as posições, mas podemos modificar. A partir do momento que colocamos os indices com nomes, precisamos usar:

        .loc[Nome_do_elemento_na_coluna]
        
- É possível encontrar elementos específicos em uma linha utilizando .loc['índice_da_lina', 'nome_coluna']

- Dentro do colchêtes, podemos fazer operações

In [8]:
products = pd.read_csv(r'Data/Cadastro Produtos.csv', sep=';')
products.head()

,Nome do Produto,Descricao do Produto,Fabricante,Nome da Marca,Tipo,Custo Unitario,Preco Unitario,ID Produto,ID Subcategoria
0,Contoso Wireless Laser Mouse E50 Grey,Advanced 2.4 GHz cordless technology makes fre...,"Contoso, Ltd",Contoso,Econômico,"10,69","20,96",873,22
1,Contoso Optical Wheel OEM PS/2 Mouse E60 Grey,"PS/2 mouse, 6 feet mouse cable","Contoso, Ltd",Contoso,Econômico,"6,63",13,879,22
2,Contoso Optical Wheel OEM PS/2 Mouse E60 Black,"PS/2 mouse, 6 feet mouse cable","Contoso, Ltd",Contoso,Econômico,"6,63",13,880,22
3,Contoso Optical Wheel OEM PS/2 Mouse E60 White,"PS/2 mouse, 6 feet mouse cable","Contoso, Ltd",Contoso,Econômico,"6,63",13,881,22
4,Contoso Optical Wheel OEM PS/2 Mouse E60 Silver,"PS/2 mouse, 6 feet mouse cable","Contoso, Ltd",Contoso,Econômico,"6,63",13,882,22

----------

### Tornando uma coluna em índice

        (Novo)DataFrame = DataFrame.set_index('nome da coluna')

**set_index()**

In [9]:
new_products = products.set_index('ID Produto')
new_products.head()

,Nome do Produto,Descricao do Produto,Fabricante,Nome da Marca,Tipo,Custo Unitario,Preco Unitario,ID Subcategoria
ID Produto,,,,,,,,
873,Contoso Wireless Laser Mouse E50 Grey,Advanced 2.4 GHz cordless technology makes fre...,"Contoso, Ltd",Contoso,Econômico,"10,69","20,96",22
879,Contoso Optical Wheel OEM PS/2 Mouse E60 Grey,"PS/2 mouse, 6 feet mouse cable","Contoso, Ltd",Contoso,Econômico,"6,63",13,22
880,Contoso Optical Wheel OEM PS/2 Mouse E60 Black,"PS/2 mouse, 6 feet mouse cable","Contoso, Ltd",Contoso,Econômico,"6,63",13,22
881,Contoso Optical Wheel OEM PS/2 Mouse E60 White,"PS/2 mouse, 6 feet mouse cable","Contoso, Ltd",Contoso,Econômico,"6,63",13,22
882,Contoso Optical Wheel OEM PS/2 Mouse E60 Silver,"PS/2 mouse, 6 feet mouse cable","Contoso, Ltd",Contoso,Econômico,"6,63",13,22

In [10]:
# Informações sobre o produto de id = 873

new_products.loc[873]

Nome do Produto                     Contoso Wireless Laser Mouse E50 Grey
Descricao do Produto    Advanced 2.4 GHz cordless technology makes fre...
Fabricante                                                   Contoso, Ltd
Nome da Marca                                                     Contoso
Tipo                                                            Econômico
Custo Unitario                                                      10,69
Preco Unitario                                                      20,96
ID Subcategoria                                                        22
Name: 873, dtype: object

In [11]:
# Linha e coluna 

new_products.loc[873, 'Nome do Produto']

'Contoso Wireless Laser Mouse E50 Grey'

---------
**.iloc[]** = Buscará por posição (ao contrário do loc[])

In [12]:
products.iloc[0, 0]

'Contoso Wireless Laser Mouse E50 Grey'

------------
## **Desafio**

A empresa deseja trocar o prço do produto de id = 873 para 23 reais

In [13]:
new_products.loc[873, 'Preco Unitario'] = 23
new_products.head()

,Nome do Produto,Descricao do Produto,Fabricante,Nome da Marca,Tipo,Custo Unitario,Preco Unitario,ID Subcategoria
ID Produto,,,,,,,,
873,Contoso Wireless Laser Mouse E50 Grey,Advanced 2.4 GHz cordless technology makes fre...,"Contoso, Ltd",Contoso,Econômico,"10,69",23,22
879,Contoso Optical Wheel OEM PS/2 Mouse E60 Grey,"PS/2 mouse, 6 feet mouse cable","Contoso, Ltd",Contoso,Econômico,"6,63",13,22
880,Contoso Optical Wheel OEM PS/2 Mouse E60 Black,"PS/2 mouse, 6 feet mouse cable","Contoso, Ltd",Contoso,Econômico,"6,63",13,22
881,Contoso Optical Wheel OEM PS/2 Mouse E60 White,"PS/2 mouse, 6 feet mouse cable","Contoso, Ltd",Contoso,Econômico,"6,63",13,22
882,Contoso Optical Wheel OEM PS/2 Mouse E60 Silver,"PS/2 mouse, 6 feet mouse cable","Contoso, Ltd",Contoso,Econômico,"6,63",13,22

-----------
## **Importando o DF para .CSV**

        DataFrame.to_csv('nome/caminho do arquivo', sep = ';/,/...', ecoding='quando há caracteres especiais')
        
**to_csv()**

In [14]:
sell.head()

,Numero da Venda,Data da Venda,Data do Envio,ID Canal,ID Loja,ID Produto,ID Promocao,ID Cliente,Quantidade Vendida,Quantidade Devolvida,Nome do Produto,Nome da Loja,E-mail dos clientes,Percentual Desconto,Ano de vendas
0,1,01/01/2017,2017-01-02,1,86,981,2,6825,9,1,A. Datum Advanced Digital Camera M300 Pink,Loja Contoso Austin,rbrumfieldmy@ameblo.jp,"0,05",2017
1,191019,20/03/2017,2017-03-21,1,172,376,2,6825,9,0,Adventure Works Laptop12 M1201 Silver,Loja Contoso Hartford,rbrumfieldmy@ameblo.jp,"0,05",2017
2,18610,08/01/2017,2017-01-10,2,200,448,2,6825,48,0,WWI Desktop PC1.80 E1801 Black,Loja Contoso Catalog,rbrumfieldmy@ameblo.jp,"0,05",2017
3,26350,12/01/2017,2017-01-18,6,21,568,2,6825,9,0,Proseware Projector 480p DLP12 Silver,Loja Contoso Wheat Ridge,rbrumfieldmy@ameblo.jp,"0,05",2017
4,169169,11/03/2017,2017-03-14,3,22,437,2,21344,27,0,Adventure Works Desktop PC1.80 ED182 White,Loja Contoso Westminster,makayla3@adventure-works.com,"0,05",2017

In [ ]:
sell.to_csv(r'Data/NovasVendas.csv', sep=';', encoding='latin1')