In [63]:
import pandas as pd 
import yagmail
from tqdm import tqdm

In [64]:
email_gerentes = pd.read_excel(r'data/Emails.xlsx')
display(email_gerentes)

   Gerente                                Email   Relatório
0     Lira  anacarolinasantosovidio+1@gmail.com      Vendas
1    Júlia  anacarolinasantosovidio+2@gmail.com    Produção
2     José  anacarolinasantosovidio+3@gmail.com  Manutenção
3  Gustavo  anacarolinasantosovidio+4@gmail.com   Operações
4      Ana  anacarolinasantosovidio+5@gmail.com  Logísticas
5    Paula  anacarolinasantosovidio+6@gmail.com  Financeiro
6    Maria  anacarolinasantosovidio+7@gmail.com   Marketing

-----------
**Escrevendo uma lista de texto em HTML assumindo que os nomes devem ser trocados**

In [65]:
bodies_text = []

for i in range(len(email_gerentes)):
    bory =\
        f'''
            <h1 style="color:darkred"><font size="3">Relatório de {email_gerentes.loc[i]['Relatório']} </font></h1>
            Prezado(a) {email_gerentes.loc[i]['Gerente']}.,
                Em anexo, está o relatório relacionado à sua área. 
                
                Por gentileza, <b>em caso de dúvidas</b> envie uma mensagem clicando neste link:
                <a href="mailto:anacarolina.ovidio@estudante.ufjf.br">  Link para o email </a>
                
                Atenciosamente, 
                Ana Carolina dos Santos Ovídio
        '''
    bodies_text.append(bory)

In [66]:
sender = yagmail.SMTP(user='anacarolina.ovidio@estudante.ufjf.br', password='A02c1937')

In [67]:
for i in tqdm(range(len(email_gerentes)), position=0, leave=True):
    sender.send(to=email_gerentes.loc[i]['Email'], subject= 'Relatório Semanal', contents=bodies_text[i], 
                attachments='data/{}.xlsx'.format(email_gerentes.loc[i]['Relatório']))

100%|████████████████████████████████████████████████████████████████████████████████████| 7/7 [00:14<00:00,  2.05s/it]