# **Lambda expression**

*Lambda* representa uma função cuja definição não é necessária. 

Basicamente, seu funcionamento representa operações simples as quais podem otmizar linhas de código e sobrecarga na memória do computador. 

**Estrutura:**

    variável = lambda parâmetro : expressão 

parâmetro = similar aos parâmetros que passamos em funções definidas. Ou seja, variáveis que iremos utilizar na operação 

expressão = Uma operação em cima dos parâmetros; representa um retorno. 

**Observação:** No final, a variável que recebe a função *lambda* tornará- se uma função. 

Toda vez que variável for chamada, é necessário passar um argumento.

In [1]:
#Função que soma 10 

sum_10 = lambda num: num+10
sum_10(100)

110

# **Desafio** 

Como aplicar a função **lambda** em um conjunto de um **interável**?

-----------

**Exemplo:** Dado os produtos e seus respectivos preços, atualize tais valores após a aplicação do imposto sobre eles.

In [21]:
percentage_tax = 0.3

price_products = {'notebook': 3500, 'iphone': 4500, 'samsung': 2300}

#Aplicação de lambda + map

new_prices = list(map(lambda num: num * (1+percentage_tax), price_products.values()))
print(f'Novos preços utilizando o map + lamba: {new_prices}')

#Aplicação de list comprehension

new_prices = [i * (1+percentage_tax) for i in price_products.values()]
print(f'Novos preços utilizando list comprehension: {new_prices}')

Novos preços utilizando o map + lamba: [4550.0, 5850.0, 2990.0]
Novos preços utilizando list comprehension: [4550.0, 5850.0, 2990.0]

In [29]:
# Retornando ao dicionário: 

products= list(price_products.keys())

new_set_products_price = dict(zip(products,new_prices))
print(new_set_products_price)

{'notebook': 4550.0, 'iphone': 5850.0, 'samsung': 2990.0}

# **Filter()**

A função filter é similar à lógica da função map. 

Para cada elemento de um interável, ele verifica uma condição e é armazanado somente o elemento cuja condição é verdadeira. 

*filter(função, iterável)*

**Observação:** O primeiro argumento da função deve ser uma função ao invés de somente a condição. Tal função pode ser definida, ou podemos utlizar o lambda. 

---------

**Exemplo**: Filtrar os produtos cujos valores são maiores de 3000 reais.

In [48]:
filter_price = list(filter(lambda num: num>3000, new_set_products_price.values()))
print(f'Valores filtrados: {filter_price}')

# Convertendo para um dicionário

filter_keys = [key for i,key in enumerate(list(new_set_products_price.keys())) 
                                          if list(new_set_products_price.values())[i] in filter_price]

products_price_filter = dict(zip(filter_keys, filter_price))
print(f'\nProdutos e  preços que respeitam a condição de valores acima de 3000 reais:{products_price_filter}')

Valores filtrados: [4550.0, 5850.0]

Produtos e  preços que respeitam a condição de valores acima de 3000 reais:{'notebook': 4550.0, 'iphone': 5850.0}

# **Uso de Lambda expression para gerar novas funções**

Qual a necessidade disso? Ao ínves de criar mais de uma função com as mesmas operações, podemos criar uma função geral e o que vai mudar será as variáveis que irão receber o retorno. 

**Observação:** Se a função geral definida retorna uma função *lambda*, automaticamente a variável que chama tal função definida tornará- se uma função associada à *lambda*

---------

**Exemplo:** De acordo com a catergoria de um serviço, aplica- se um tributo nele.

        - Produto: 0.1
        - Serviço geral: 0.15
        - Royalties: 0.25

Jeito que envolve mais trabalho e gasto de memória:

    def tax_product (value):
        return value * 1.1
    def tax_general_service (value):
        return value * 1.15
    def tax_royalties (value):
        return value * 1.25

De acordo com a demanda do cliente, vamos chamando uma determinada função.

In [68]:
# Aplicação eficiente com o lambda 

def tax (percentage):
    return lambda value: value * (1+percentage)

tax_product = tax(0.1)
tax_general_service = tax(0.15)
tax_royalties = tax(0.25)

### **Explicando o funcionamento acima**

Temos uma função definida chamada *tax* cujo parâmetro é a porcentagem do tributo a ser aplicado em uma determinado valor.

***Qual valor é este?***

O valor é definido quando chamamos as variáveis que chamam a função *tax*. Afinal, tais variáveis são novas funçãoes associadas ao retorno da função *tax*, uma fez que esse retorno é uma função lambda que necessita de uma variável *value* como parâmetro

In [75]:
import pandas as pd 
import numpy as np 
from datetime import datetime 

current_day = datetime.now().strftime('%Y%m%d')
date = pd.date_range(current_day, periods=100, freq = 'D')

price_services = {'Products': np.random.rand(100), 
                  'General Sevice': np.random.rand(100), 
                  'Royalties': np.random.rand(100)}

frame_price_services = pd.DataFrame(price_services, index=date)

display(frame_price_services)

            Products  General Sevice  Royalties
2022-01-21  0.136413        0.865834   0.338208
2022-01-22  0.290082        0.670596   0.068238
2022-01-23  0.283885        0.494058   0.587227
2022-01-24  0.002564        0.865080   0.899665
2022-01-25  0.621743        0.391683   0.758873
...              ...             ...        ...
2022-04-26  0.149890        0.733500   0.659331
2022-04-27  0.108880        0.484341   0.754173
2022-04-28  0.262430        0.833395   0.154792
2022-04-29  0.063013        0.476671   0.255583
2022-04-30  0.681697        0.324926   0.248100

[100 rows x 3 columns]

In [79]:
frame_price_services['Products'] = list(map(tax_product, frame_price_services['Products']))
frame_price_services['General Sevice'] = list(map(tax_general_service, frame_price_services['General Sevice']))
frame_price_services['Royalties'] = list(map(tax_royalties, frame_price_services['Royalties']))

frame_price_services

            Products  General Sevice  Royalties
2022-01-21  0.165060        0.995709   0.422760
2022-01-22  0.351000        0.771185   0.085297
2022-01-23  0.343501        0.568167   0.734034
2022-01-24  0.003103        0.994842   1.124581
2022-01-25  0.752309        0.450436   0.948591
...              ...             ...        ...
2022-04-26  0.181367        0.843526   0.824164
2022-04-27  0.131745        0.556992   0.942716
2022-04-28  0.317541        0.958404   0.193490
2022-04-29  0.076246        0.548172   0.319479
2022-04-30  0.824853        0.373665   0.310125

[100 rows x 3 columns]